<div>
     <table class="table table-striped table-hover">
          <thead>
               <tr>
                    <th>Time Slot</th>
                    <th>LED</th>
                    <th>AirPump</th>
                    <th>Filter</th>
                    <th>Feeder</th>
               </tr>
          </thead>
          <tbody>
               <tr ng-repeat="r in settings track by $index" settings-row setting="r">
                    
               </tr>
          </tbody>
     </table>
</div>